
body {
    background: #F6F7D7;
}
.title-depan {
    font-family: 'Sancreek', sans-serif;
    text-align: center;
    color: #FBC907;
    font-size: 48px;
    text-shadow: -3px 3px #390203;
}

.space{
    position: relative;
}

#spacecraft{
    width: 130px;
    position: absolute;
    top: 70px;
    left: 0px;
    z-index: 5;
    filter: drop-shadow(0px 0px 5px #fff);
}

.rotate-phone-text {
    font-family: 'Sancreek', sans-serif;
}

.rotate-phone-text {
    font-family: 'Sancreek', sans-serif;
}

.map-container {
    text-align: center;
    position: relative;
    width: 400px;
    height: auto;
    background-color: #F6F7D7;
    z-index: 0;
    overflow-x: auto;
}

.map_image {
    width: 450px;
    height: auto;
}

.point {
    position: absolute;
}

#ta-bw {
    width: 52px;
    height: auto;
    bottom: 84px;
    left: 190px;
    z-index: 1;
}

#tb-bw {
    width: 50px;
    height: auto;
    bottom: 109px;
    left: 236px;
}

#tc-bw {
    width: 82px;
    height: auto;
    top: 102px;
    left: 290px;
    z-index: 2;
}

#td-bw {
    width: 44px;
    height: auto;
    /* z-index: 1; */
    top: 92px;
    left: 296px;
    z-index: 1;
}

#te-bw {
    width: 73px;
    width: 66px;
    height: auto;
    top: 78px;
    left: 209px;
    z-index: 1;
}

#tf-bw {
    width: 86px;
    height: auto;
    bottom: 124px;
    left: 142px;
    z-index: 2;
}

#tg-bw {
    width:80px;
    height: auto;
    top: 0px;
    left: 225px;
    z-index: 0;
}


#checkpoint{
    position: absolute;
    width: 25px;
    z-index: 3;
    filter: drop-shadow(0px 0px 2px #FFFFFF);
}

.check-ta{
    top: 171px;
    left: 191px;
}
.check-tb{
    top: 125px;
    left: 243px;
}
.check-tc{
    top: 118px;
    left: 304px;
}
.check-td{
    top: 75px;
    left: 328px;
}
.check-te{
    top: 59px;
    left: 224px;
}
.check-tf{
    top: 177px;
    left: 131px;
}
.check-tg{
    top: 2px;
    left: 276px;
}

.blocker {
    display: none;
}

.broken-console {
    font-family: 'Bricolage Grotesque 48pt Condensed', sans-serif !important;
    font-size: 24px;

}

.bricolage-title{
    font-family: 'Bricolage Grotesque 10pt Condensed', sans-serif !important;
    font-size: 24px;
}

.bricolage{
    font-family: 'Bricolage Grotesque 10pt Condensed', sans-serif !important;
    font-size: 18px;
}

.dialog-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nes-input {
    width: 200px;
    border-image-repeat: stretch !important;
    background-clip: unset !important;
    border-width: 6px !important;
    height: 30px;

}

.is-rounded{
    border-radius: 5px;
}

.nes-dialog.is-rounded,
.nes-btn,
.nes-textarea {
    border-image-repeat: stretch !important;
}

.nes-btn {
    font-family: 'Bricolage Grotesque 10pt Condensed', sans-serif !important;
    height: 30px;
    font-size: 16px;
    padding: 0 12px;
}

#dialog-rounded {
    height: 400px;
    overflow-y: auto;
    min-width: 400px;
    max-width: 700px;
    overflow-y: auto;
}

#answer {
    height: 80px;
}

#awan-1 {
    position: absolute;
    width: 200px;
    height: auto;
    top: 20px;
    left: 60px;
    z-index: -1;
    animation: awan1 2s infinite ease-in-out;
}

#awan-3 {
    position: absolute;
    width: 180px;
    height: auto;
    top: 50px;
    right: 60px;
    z-index: -1;
    animation: awan1 2s infinite ease-in-out;
}

#awan-5 {
    position: absolute;
    width: 150px;
    height: auto;
    top: 50px;
    left: 40px;
    z-index: 2;
    animation: awan1 2s infinite ease-in-out;
}

#bird-1 {
    position: absolute;
    width: 50px;
    top: 20px;
    left: -20px;
    transform: translateX(-30px);
    animation: angrybird 2s infinite linear;
    z-index: -2;
}

.hidden {
    display: none;
}

@keyframes awan1 {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 5px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes angrybird {

    0% {
        transform: translate(0, 0px);
    }

    25% {
        transform: translate(30px, 15px);
    }

    50% {
        transform: translate(60px, 0px);
    }

    75% {
        transform: translate(90px, 15px);
    }

    100% {
        transform: translate(120px, -0px);
    }
}

@media screen and (orientation: portrait) {
    #bird-1 {
        display: none
    }

    #awan-1 {
        top: 30px
    }

    #awan-3 {
        top: 60px
    }

    #awan-5 {
        width: 60px;
        top: 95px;
    }

    .title {
        margin-top: 20px;
    }


    .nes-input {
        width: 100%
    }

    .space{
        position: relative;
    }

    #spacecraft{
        width: 130px;
        position: absolute;
        top: 70px;
        left: 10px;
        z-index: 5;
    }
}
